<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Analytics</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<!--  osohm: note that the less.js-middleware in Express will automatically compile the less files 
      		  to css files on-the-fly. Should be converted to pre-compiled css for production. -->
        <link rel="stylesheet" href="stylesheets/main.css">
        <script src="html5-boilerplate-4.3.0/js/vendor/modernizr-2.6.2.min.js"></script>
        <!-- Respond.js for IE 8 or less only -->
		<!--[if (lt IE 9) & (!IEMobile)]>
			<script src="respond/dest/respond.min.js"></script>
		<![endif]-->
    </head>
    <body>
		<!-- Bootstrap 3.x only supports IE8+ -->
        <!--[if lte IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

		<%
			function print(s) {
				if (s == null) {
					return '-';
				}
				return s;
			}

			function printLengths(table) {
				var s = '';
				stats.forEach(function (stat) {
					if (stat.tableKeysSorted[table] != null) {
						s = s + '<td>' + print(stat.tableKeysSorted[table].length) + '</td>';
					} else {
						s = s + '<td>n/a</td>';
					}
				});
				return s;
			}

			function printTotals(name, table) {
				var s = '';
				s += '<tr>';
				s += '<td>' + name + '</td>';
				if (statsOverall.tables[table] != null) {
					s += '<td>' + print(statsOverall.tables[table]['#total']) + '</td>';
				} else {
					s += '<td>n/a</td>';
				}
				stats.forEach(function(stat) {
					if (stat.tables[table] != null) {
						s += '<td>' + print(stat.tables[table]['#total']) + '</td>';
					} else {
						s += '<td>n/a</td>';
					}
		 		});
				s += '<tr>';
				return s;
			}

			function printTops(name, table) {
				var s = '';
				s += '<tr>';
				s += '<td>' + name + '</td>';
				s += '<td></td>';
				stats.forEach(function(stat) {
					s += '<td></td>'
				 });
				s += '</tr>';
				for (var i = 0; i < 5; i++) {
					s += '<tr>';
					s += '<td>' + (i+1) + '</td>';
					var overallKey = statsOverall.tableKeysSorted[table][i];
					if (overallKey != null) {
						s += '<td>' + overallKey + ' (' + statsOverall.tables[table][overallKey] + ')</td>';
					} else {
						s += '<td> - </td>';
					}
					stats.forEach(function(stat) {
						var key;
						if (stat.tableKeysSorted[table] != null) {
							key = stat.tableKeysSorted[table][i];
						}
						if (key != null) {
				 			s += '<td>' + key + ' (' + stat.tables[table][key] + ')</td>';
						} else {
							s += '<td> - </td>';
				 		}
				 	});
					s += '</tr>'
			 	}
				return s;
			}
		%>

		<h1>Resource Explorer Analytics</h1>

		<table class="table table-condensed">
			<thead>
			<tr>
				<th></th>
				<th>Overall (since <%= statsOverall.date %>)</th>
				<% stats.forEach(function(stat) { %>
					<th><%= stat.date %></th>
				<% }); %>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>Total visitors</td>
				<td>not applicable</td>
				<%- printLengths('visitorSessions') %> <!-- this leaves the returned html tags unescaped -->
			</tr>

			<%- printTotals('New Visitors', 'newVisitors') %> <!-- note: use totals instead of length to workaround the fact that some visitor IDs were reused due to lost/deleted log files-->

			<%- printTotals('Visitor sessions', 'visitorSessions') %>

			<tr>
				<td>IPs</td>
				<td>not applicable</td>
				<%- printLengths('uniqueIPs') %>
			</tr>

			<%- printTotals('Device/Devtool Selections', 'selections') %>
			<%- printTotals('Searches', 'searches') %>
			<%- printTotals('Views', 'views') %>
			<%- printTotals('Downloads', 'downloads') %>
			<%- printTotals('Imports', 'imports') %>
			<%- printTotals('Total Requests', 'uniqueIPs') %>

			<%- printTops('Top Referrers', 'referers') %>
			<%- printTops('Top Visitors by Activity', 'visitorActivity') %>
			<%- printTops('Top IPs', 'uniqueIPs') %>
			<%- printTops('Top Device/Devtool Selections', 'selections') %>
			<%- printTops('Top Searches', 'searches') %>
			<%- printTops('Top Views', 'views') %>
			<%- printTops('Top Downloads', 'downloads') %>
			<%- printTops('Top Imports', 'imports') %>

			</tbody>
		</table>

		<!-- scripts that are required by dependent script must be included first -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="html5-boilerplate-4.3.0/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="bootstrap-3.1.1/dist/js/bootstrap.min.js"></script>
        <script src="html5-boilerplate-4.3.0/js/plugins.js"></script>
        <script src="html5-boilerplate-4.3.0/js/main.js"></script>

    </body>
</html>
